.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.Renviron
scripts
config.yml
output
inst/.serverless
deprecated
.DS_Store
node_modules
dist
/.svelte-kit
/package
.env
.env.*
!.env.example
.serverless
sql_queries
inst/Dockerfile

.quarto
